.orders-wrapper .top {
    display: flex;
    gap: 32px;
}

.orders-wrapper .sort-orders {
    background-color: white;
    display: flex;
    gap: 16px;
    padding: 8px 16px;
    max-width: 410px;
    box-shadow: rgba(0, 0, 0, 0.1) 1.95px 1.95px 2.6px;
    margin-bottom: 16px;
}

.orders-wrapper .sort-orders .sort-by {
    font-weight: 600;
}

.orders-wrapper .sort-orders .sorting-parameters {
    display: flex;
    gap: 16px;
}

.orders-wrapper .sort-orders .sorting-parameters .param {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #C3CED2;
    font-weight: 600;
}

.orders-wrapper .create-order {
    padding: 8px 16px;
    margin-bottom: 16px;
    background-color: #E8F0FF;
    color: #0561FC;
    border: 2px solid #6C97DE;
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.1) 1.95px 1.95px 2.6px
}

.orders-wrapper .orders-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding-bottom: 32px;
}

.orders-wrapper .orders-container .order {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 1.95px 1.95px 2.6px;
    background-color: #fff;
    width: 250px;
}

.orders-wrapper .orders-container .order .top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.orders-wrapper .orders-container .order .top .more {
    position: relative;
    left: 100px;
    bottom: 4px;
    width: 24px;
    height: auto;
}

.orders-wrapper .orders-container .order .top .item-image {
    height: 200px;
    width: 200px;
    margin-bottom: 6px;
    padding-top: 6px;
}

.orders-wrapper .orders-container .order .bottom {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.orders-wrapper .orders-container .order .bottom .char {
    display: flex; gap: 4px;
}