.wrapper .body .graphs {
    display: flex;
    justify-content: space-between;
    align-items: end;
    flex-wrap: wrap;
    margin-top: 24px;
}

.wrapper .body .graphs .revenue-container {
    min-width: 400px;
    margin-right: 13px;
    flex: 1 1 60%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 1.95px 1.95px 2.6px;
    padding: 24px 0px;
}

.wrapper .body .graphs .revenue-container .revenue-text {
    padding: 0px 24px;
}

.wrapper .body .graphs .revenue-container .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.wrapper .body .graphs .revenue-container .top .left {
    font-size: 13px;
    color: #93A3AB;
}
.wrapper .body .graphs .revenue-container .top .right {
    display: flex;
    gap: 24px;
    font-size: 13px;
    color: #C4CCD0;
    font-weight: bold;
}

.wrapper .body .graphs .revenue-container .total-revenue {
    margin: 8px 0px;
    font-size: 24px;
    font-weight: 600;
}

.wrapper .body .graphs .revenue-container .increase {
    display: flex;
    align-items: center;
}

.wrapper .body .graphs .revenue-container .increase .percent-good {
    font-size: 14px;
    font-weight: 600;
    color: #65C565;
}

.wrapper .body .graphs .revenue-container .increase .percent-bad {
    font-size: 14px;
    font-weight: 600;
    color: #c56565;
}

.wrapper .body .graphs .revenue-container .increase .period {
    font-size: 14px;
    margin-left: 4px;
    color: #93A3AB;
}



.wrapper .body .graphs .views-container {
    min-width: 350px;
    padding: 24px;
    flex: 1 1 30%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 1.95px 1.95px 2.6px;
}

.wrapper .body .graphs .views-container .views-text {
    margin-bottom: 32px;
}

.wrapper .body .graphs .views-container .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

.wrapper .body .graphs .views-container .top .user-visits {
   color: black;
   font-size: 18px;
   font-weight: 600;
}

.wrapper .body .graphs .views-container .top .right {
    display: flex;
    align-items: center;
    gap: 24px;
    font-size: 13px;
    color: #C4CCD0;
    font-weight: 600;
}

.wrapper .body .graphs .views-container .increase {
    display: flex;
    align-items: center;
}

.wrapper .body .graphs .views-container .increase .percent-good {
    font-size: 14px;
    font-weight: 600;
    color: #65C565;
}

.wrapper .body .graphs .views-container .increase .percent-bad {
    font-size: 14px;
    font-weight: 600;
    color: #c56565;
}

.wrapper .body .graphs .views-container .increase .period {
    font-size: 14px;
    margin-left: 4px;
    color: #93A3AB;
}

@media (max-width: 600px) { 
    .revenue-container {
        flex-basis: 100%;
    }
    .views-container {
        flex-basis: 100%;
    }
}