* {
    font-family: Inter, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input {
    text-align: start;
}

@font-face {
    font-family: 'Inter';
    src: url('../../public/Inter.ttf');
}

.wrapper {
    display: flex;
}

.wrapper .main {
    background-color: #F7F8FA;
    width: 82vw;
    margin-left: 18vw;
    min-height: 100vh;
}

.wrapper .body {
    background-color: rgb(253, 253, 253);
    margin: 40px 38px 0px 38px;
}

.loader {
    --r1: 154%;
    --r2: 68.5%;
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    background:
        radial-gradient(var(--r1) var(--r2) at top, #0000 79.5%, #0561FC 80%),
        radial-gradient(var(--r1) var(--r2) at bottom, #0561FC 79.5%, #0000 80%),
        radial-gradient(var(--r1) var(--r2) at top, #0000 79.5%, #0561FC 80%),
        #ccc;
    background-size: 50.5% 220%;
    background-position: -100% 0%, 0% 0%, 100% 0%;
    background-repeat: no-repeat;
    animation: l9 2s infinite linear;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes l9 {
    33% {
        background-position: 0% 33%, 100% 33%, 200% 33%
    }

    66% {
        background-position: -100% 66%, 0% 66%, 100% 66%
    }

    100% {
        background-position: 0% 100%, 100% 100%, 200% 100%
    }
}