* {
    font-family: Inter, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input {
    text-align: start;
}

@font-face {
    font-family: 'Inter';
    src: url('../../public/Inter.ttf');
}

.wrapper {
    display: flex;
}

.wrapper .menu {
    position: fixed;
    height: 100vh;
    width: 18vw;
    border-top: 1px solid #F7F8FA;
    border-right: 2px solid #F7F8FA;
}

.wrapper .main {
    background-color: #F7F8FA;
    width: 82vw;
    margin-left: 18vw;
    min-height: 100vh;
}

.wrapper .header {
    background-color: white;
    height: 80px;
    width: 100%;
    font-size: 14px;
    padding: 16px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px; 
    overflow: hidden;
}

.wrapper .header .input {
    flex-grow: 1;
    position: relative;
}

.wrapper .header .main-search {
    background-color: #F7F8FA;
    height: 48px;
    min-width: 100%;
    padding: 16px 16px 16px 40px;
    border: none;
}

.wrapper .header .search-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
}

.wrapper .header .right {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 16px; 
}

.wrapper .header .right .bell-icon {
    width: 24px;
}

.wrapper .header .right .user {
    display: flex;
    gap: 10px;
    align-items: center;
}





.wrapper .body {
    background-color: rgb(253, 253, 253);
    margin: 40px 38px 0px 38px;
}

.wrapper .body .dashboard {
    font-size: 24px;
    margin-bottom: 26px;
}

.wrapper .body .stats-blocks {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    margin: 0px 5px;
}

.wrapper .body .stats-blocks .block {
    background-color: white;
    padding: 24px;
    box-shadow: rgba(0, 0, 0, 0.1) 1.95px 1.95px 2.6px;
}

.wrapper .body .stats-blocks .block .top {
    display: flex;
    align-items: center;
    gap: 32px;
    margin-bottom: 8px;
}

.wrapper .body .stats-blocks .block .total {
    font-size: 16px;
    color: #93A3AB;
}

.wrapper .body .stats-blocks .block .amount {
    font-size: 24px;
    color: black;
    font-weight: 600;
}







.wrapper .body .graphs {
    display: flex;
    justify-content: space-between;
    align-items: end;
    flex-wrap: wrap;
    margin-top: 24px;
}

.wrapper .body .graphs .revenue-container {
    min-width: 400px;
    margin-right: 13px;
    flex: 1 1 60%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 1.95px 1.95px 2.6px;
    padding: 24px 0px;
}

.wrapper .body .graphs .revenue-container .revenue-text {
    padding: 0px 24px;
}

.wrapper .body .graphs .revenue-container .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.wrapper .body .graphs .revenue-container .top .left {
    font-size: 13px;
    color: #93A3AB;
}
.wrapper .body .graphs .revenue-container .top .right {
    display: flex;
    gap: 24px;
    font-size: 13px;
    color: #C4CCD0;
    font-weight: bold;
}

.wrapper .body .graphs .revenue-container .total-revenue {
    margin: 8px 0px;
    font-size: 24px;
    font-weight: 600;
}

.wrapper .body .graphs .revenue-container .increase {
    display: flex;
    align-items: center;
}

.wrapper .body .graphs .revenue-container .increase .percent-good {
    font-size: 14px;
    font-weight: 600;
    color: #65C565;
}

.wrapper .body .graphs .revenue-container .increase .percent-bad {
    font-size: 14px;
    font-weight: 600;
    color: #c56565;
}

.wrapper .body .graphs .revenue-container .increase .period {
    font-size: 14px;
    margin-left: 4px;
    color: #93A3AB;
}

.wrapper .body .graphs .views-container {
    min-width: 350px;
    margin-right: 13px;
    padding: 24px;
    flex: 1 1 30%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 1.95px 1.95px 2.6px;
}

.wrapper .body .graphs .views-container .views-text {
    margin-bottom: 36px;
}

.wrapper .body .graphs .views-container .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

.wrapper .body .graphs .views-container .top .user-visits {
   color: black;
   font-size: 18px;
   font-weight: 600;
}

.wrapper .body .graphs .views-container .top .right {
    display: flex;
    align-items: center;
    gap: 24px;
    font-size: 13px;
    color: #C4CCD0;
    font-weight: 600;
}

.wrapper .body .graphs .views-container .increase {
    display: flex;
    align-items: center;
}

.wrapper .body .graphs .views-container .increase .percent-good {
    font-size: 14px;
    font-weight: 600;
    color: #65C565;
}

.wrapper .body .graphs .views-container .increase .percent-bad {
    font-size: 14px;
    font-weight: 600;
    color: #c56565;
}

.wrapper .body .graphs .views-container .increase .period {
    font-size: 14px;
    margin-left: 4px;
    color: #93A3AB;
}

@media (max-width: 600px) { 
    .revenue-container {
        flex-basis: 100%;
    }
    .views-container {
        flex-basis: 100%;
    }
}