* {
    font-family: Inter, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input {
    text-align: start;
}

@font-face {
    font-family: 'Inter';
    src: url('../../public/Inter.ttf');
}

.wrapper {
    display: flex;
}

.wrapper .main {
    background-color: #F7F8FA;
    width: 82vw;
    margin-left: 18vw;
    min-height: 100vh;
}


.wrapper .body {
    background-color: rgb(253, 253, 253);
    margin: 40px 38px 0px 38px;
}